<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.mapper.CommonCodeMapper">
	
	<!-- 코드그룹으로 공통코드 정보 조회 -->
	<select id="getCodesByGroup" resultType="egovframework.vo.CommonCodeVO">
    SELECT CODE_VALUE, CODE_NAME
    FROM COMMON_CODE
    WHERE CODE_GROUP = #{codeGroup}
	</select>
</mapper>
